@tailwind base;

p {
    font-size: 18px;
}

a {
    font-size: 10px;
}

h2 {
    font-size: 20px;
    font-weight: 800;
}

h2 span {
    color: #0046ff;
}

input[type='text'] {
    border: 1px solid #e6e6e6;
    width: 100%;
    padding: 2px 5px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

select {
    /*ios대응*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
}

.slick-track {
    width: initial;
}

/* .slick-list {
    margin: 0 20px !important;
} */

.slick-vertical .slick-slide {
    margin: 0;
}

.slick-slide {
    margin: 0 5px;
    display: inline-block;
}

.slick-dots {
    bottom: -45px !important;
}
.slick-dots li {
    margin: 0 !important;
}

.slick-dots li button::before {
    background-color: #afd8ff !important;
    opacity: 1 !important;
    content: '' !important;
    width: 5px !important;
    height: 5px !important;
    transform: translate(7px, 7.5px);
    border-radius: 3px;
    transition: ease-in;
}

.slick-dots li.slick-active button::before {
    background-color: #0046ff !important;
    width: 16px !important;
    height: 5px;
    content: '';
    transform: translate(2px, 7.5px);
    border-radius: 3px;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.ReactModal__Content {
    width: 100%;
    max-width: 500px;
    padding: 0 !important;
    inset: initial !important;
    bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background-color: #0046ff !important;
    border: initial !important;
    border-radius: 20px 20px 0 0 !important;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@tailwind components;
@tailwind utilities;

.text-box {
    display: inline-block;
    border: 1px solid #788fbd;
    color: #788fbd;
    font-size: 12px;
    padding: 3px 13px;
    border-radius: 20px;
}

.green-text-box {
    display: inline-block;
    background-color: #ccff00;
    font-size: 12px;
    padding: 4.5px 13px;
    border-radius: 20px;
}

.blue-text-box {
    display: inline-block;
    border: 1px solid #0046ff;
    color: #0046ff;
    font-size: 12px;
    padding: 3px 13px;
    border-radius: 20px;
}

.blue-bg-text-box {
    display: inline-block;
    background-color: #0046ff;
    color: #ffffff;
    font-size: 10px;
    padding: 3px 13px;
    border-radius: 20px;
}

.personal-box {
    display: inline-block;
    background-color: #d1e9fe;
    border-radius: 3px;
    color: #788fbd;
    font-size: 10px;
    padding: 2px 5px;
}
