@tailwind base;

p {
    font-size: 18px;
}

a {
    font-size: 10px;
}
.slick-dots {
    bottom: -45px !important;
}
.slick-dots li {
    margin: 0 !important;
}

.slick-dots li button::before {
    background-color: #afd8ff !important;
    opacity: 1 !important;
    content: '' !important;
    width: 5px !important;
    height: 5px !important;
    transform: translate(7px, 7.5px);
    border-radius: 3px;
    transition: ease-in;
}

.slick-dots li.slick-active button::before {
    background-color: #0046ff !important;
    width: 16px !important;
    height: 5px;
    content: '';
    transform: translate(2px, 7.5px);
    border-radius: 3px;
}

@tailwind components;
@tailwind utilities;

.text-box {
    display: inline-block;
    border: 1px solid #788fbd;
    color: #788fbd;
    font-size: 10px;
    padding: 4.5px 13px;
    border-radius: 20px;
}

.green-text-box {
    display: inline-block;
    background-color: #ccff00;
    font-size: 10px;
    padding: 4.5px 13px;
    border-radius: 20px;
}

.personal-box {
    display: inline-block;
    background-color: #d1e9fe;
    border-radius: 3px;
    color: #788fbd;
    font-size: 10px;
    padding: 2px 5px;
}
